# Facebook authentication fallback
FACEBOOK_EMAIL=
FACEBOOK_PASSWORD=
# Base32 secret from your authenticator app (NOT the 6-digit code)
FACEBOOK_2FA=

# Optional AppState
APPSTATE_FILE=appstate.json
APPSTATE_WRITE_FILE=false
APPSTATE_PERSIST_FILE=.appstate.enc
APPSTATE=
APPSTATE_ENCRYPTION_KEY=

# Optional runtime
TZ=Europe/Berlin

APPSTATE_SYNC_ENV=false

APPSTATE_REQUIRE_ENCRYPTION=false
